<div id="mainContent" class="container" ng-controller="AdminCtrl">
	<div class="row">
		<div class="col-md-4" ng-show="!data.roles.length">
			<h2 ng-click="tools.roles.setup()">Setup Roles</h2>
		</div>
		<div class="col-md-4">
			<div class="parent" ng-repeat="role in data.roles | orderBy:'order'">
				<h2>{{role.name}}</h2>
				<ul class="list child"><!-- child -->
					<li ng-repeat="user in role.users">
						<a ng-click="tools.user.editRoles(user)">
							<span class="title">{{user.fullName}}</span>
							<span class="sub">{{user.email}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4" ng-show="data.unassigned">
			<h2>Unassigned</h2>
			<ul class="list">
				<li ng-repeat="user in data.unassigned">
					<a ng-click="tools.user.editRoles(user)">
						<span class="title">{{user.fullName}}</span>
						<span class="sub">{{user.email}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h2>Tools</h2>
			<div class="list-group">
				<a href="#/stats" class="list-group-item">Stats</a>
				<a href="#/rideTable" class="list-group-item">Ride List</a>
				<a href="#/inviteTable" class="list-group-item">Invitation Tree</a>
			</div>
		</div>
	</div>
	<div ng-include="'partials/admin/userModal.html'"></div>
	<div ng-include="'partials/admin/roleModal.html'"></div>
</div>