<div class="page">
	<div class="row">
		<div class="col-md-6">
			<div class="well">
				<h1>Temple Committee</h1>
				<p>As a member of the temple committee you have the opportunity to help members catch the spirit of Elijah!  You can also help members collaborate and commit to attending the temple.  We hope to help you in your duty to help members enjoy the blessings of the temple.</p>
				<p>One feature we have added is the ability for you to import your weard list and bring it to church to allow members to quickly sign up to share rides to the temple.  We have also made it possible for members who do not have internet at home to receive notifications and accept rides by receiving a phone call.</p>
				<iframe width="560" height="315" src="//www.youtube.com/embed/73jY8xH_vhc" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<div class="row">
					<div class="col-md-6">
						<h1>Family History Sites</h1>
						<ul class="list-group">
							<li class="list-group-item">
								<a target="new" href="http://FamilySearch.org">
									FamilySearch.org
								</a>
							</li>
							<li class="list-group-item">
								<a target="new" href="http://Ancestry.com">
									Ancestry.org
								</a>
							</li>
							<li class="list-group-item">
								<a target="new" href="http://MyHeritage.org">
									MyHeritage.org
								</a>
							</li>
							<li class="list-group-item">
								<a target="new" href="http://FindMyPast.org">
									FindMyPast.org
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h1>Talks &amp; Resources</h1>
						<ul class="list-group">
							<li class="list-group-item">
								<a target="new" href="https://www.lds.org/general-conference/topics/archive/2014/04?lang=eng&topic=temples&view=topics">
									Confrence Talks
								</a>
							</li>
							<li class="list-group-item">
								<a target="new" href="https://www.lds.org/bc/content/ldsorg/callings/temple-and-family-history/leader-resources/first-presidency-letter-10812.pdf">
									First Presidency Letter
								</a>
							</li>
							<li class="list-group-item">
								<a target="new" href="https://www.lds.org/church/temples">
									LDS Temples
								</a>
							</li>
							<li class="list-group-item">
								<a target="new" href="http://ldstreasury.com/#!/site/speeches/list_topic?topic=Temple">
									MP3 Talks &amp; Devotionals
								</a>
							</li>
							<li class="list-group-item">
								<a target="new" href="http://familyshare.com/how-to-start-your-family-history?Itemid=631">
									Getting Started W/ Family History
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>