<div class="page">
	<div class="row">
		<div class="col-md-6">
			<div class="well">
				<h1>About Temple Rides</h1>
				<p>Temple Rides allows you to share rides to the temple with other Latter Day Saint members.</p>
				<p>This was created after our stake conference, in which the stake presidency designated three areas of focus: temple, mission, and education.  We hope you will be able to use this tool to attend and help others attend the temple more frequently.  This tool is provided by invite only.  All who are invited are allowed to invite others.  Please utilize this tool only to organize rides to the temple.  I hope you will find opportunities for service, there are many elderly people who need help to get to the temple.</p>
				<p>This website was created as a tool for members.  This website was not created nor is it maintained by the church.  We will do everything we can to maintain the integrity of this site's users, however we are not responsible for the actions of those who use this service.  Please use discretion and good judgment.  Please report any concerns.  By using this service, you agree to not hold the LDS Church, or the creator of this website responsible for anything which may happen as a result of the use of this service.  </p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<h1>Temple Committee</h1>
				<p>We have resources dedicated to helping you have a great temple committee!  You can import your ward list, and then bring the list to church and allow people to quickly and easily signup to share rides to the temple.  Members don't even need to have the internet at home to receive notices and accept rides to the temple.  Those members will receive a phone call so they can accept a ride.</p>
				<p><a href="#/familyHistory" class="btn btn-info">Temple Committee Resources!</a></p>
			</div>
		</div>
	</div>
</div>