<div class="container">
	<div class="well">
		<h1>Temple Rides</h1>
		<p>Temple Rides allows you to share rides to the temple with other Latter Day Saint members.</p>
		<p>You must have an account to access this site.</p>
		<p>If someone told you about this website, and you would like to create an account, please contact that person and ask them to invite you.</p>
		<p>If you would like to start this service in your area, please contact us and let us know.</p>
		<iframe width="560" height="315" src="//www.youtube.com/embed/XLXYxmaHWQs" frameborder="0" allowfullscreen></iframe>
	</div>
</div>