<div class="page" ng-controller="SitterCtrl">
	<div class="jumbotron" ng-hide="user.isSitter">
		<h1>Babysitting Service</h1>
		<p>You can offer a great service to help people get to the temple.  Many people have children and need a babysitter.  You can volunteer here and make it easy for others to know that you are willing.</p>
		<a ng-click="tools.sitter.become()" class="btn btn-block btn-info">Become A Sitter</a>
	</div>
	<div class="jumbotron" ng-show="user.isSitter">
		<h1>Babysitting Service</h1>
		<p>Thank you for volunteering to be a babysitter!</p>
		<!--Sitter Times-->
		<a class="btn btn-brown" ng-click="tools.time.setup()" ng-hide="times">Set Time Available</a>
		<div class="row" ng-show="times">
			<div class="col-md-3" ng-repeat="time in times.results">
				<div class="well" datastore="time" identifier="{{times.identifier}}" status="status">
					<form role="form" ng-submit="tools.time.save(time)">
						<div class="form-group">
							<label>Day</label>
							<select ng-model="time.day">
								<option>Monday</option>
								<option>Tuesday</option>
								<option>Wednesday</option>
								<option>Thursday</option>
								<option>Friday</option>
								<option>Saturday</option>
							</select>
						</div>
						<div class="form-group">
							<label>Available From</label>
							<input type="time" class="form-control" ng-model="time.start">
						</div>
						<div class="form-group">
							<label>Available To</label>
							<input type="time" class="form-control" ng-model="time.end">
						</div>
						<button type="button" class="btn btn-danger btn-block" ng-hide="time.temp || dsStatus=='edit'" ng-click="tools.time.remove(time)">Delete</button>
						<button type="submit" class="btn btn-info btn-block" ng-show="time.temp || dsStatus=='edit'">Save</button>
					</form>
				</div>
			</div>
			<div class="col-md-3">
				<div class="well">
					<h3><a ng-click="tools.time.add()">Add A Time</a></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6" 
			ng-repeat="volunteer in sitters" 
			ng-click="tools.view(volunteer)" 
			ng-include="'partials/contactCard.html'">
		</div>
	</div>
	<div ng-include="'partials/sitterModal.html'"></div>
</div>