<div class="page" ng-controller="SitterCtrl">
	<div class="jumbotron">
		<h1>Babysitting Service</h1>
		<h2>Comming Soon</h2>
		<p>You can offer a great service to help people get to the temple.  Many people have children and need a babysitter.  You can volunteer here and make it easy for others to know that you are willing.</p>
		<a ng-click="tools.sitter.become()" class="btn btn-block btn-info">Become A Sitter</a>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="volunteer in sitters" ng-click="tools.view(volunteer)">
			<div class="well">
				<h1>{{volunteer.fullName}}</h1>
				<h3>{{volunteer.phone}}</h3>
				<h3>{{volunteer.email}}</h3>
				<img ng-src="{{volunteer.picture.src}}"></img>
			</div>
		</div>
	</div>
</div>