html, body{
	min-height:100%;
	padding: 0px;
	margin: 0px;
}
body{
background: rgb(252,255,244); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 */

}

a, [ng-click]{
	color: inherit;
	cursor: pointer;
}
a:hover{
	text-decoration: none;
	color: inherit;
}
.btn-brown{
	background: #FFF;
	border: 1px solid #CCC;
	box-shadow: 2px 2px 5px #999;
	font-weight: bold;
	border-radius: 0px;
}
.btn-brown:hover{
	color: #346A91;
}
.include>*{
    min-height: 1000px;
}
.page{
    padding: 50px;
}



/*FLEX STUFF*/
header{
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100000;
}

.wrapper {
	margin-top:50px;
}
.navbar{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	border-bottom:1px solid #999;
	border-radius: 0px;
	color: #220;
}
#templeRides .nav>li>a{
	color: #FFF;
	background: #2A4D6E;
	margin: 4px;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #000;
}
.navbar-default .navbar-brand{
	color: #2A4D6E;
}
.navbar .dropdown-menu{
	background: #EEE;
}
.navbar .dropdown-menu{
	background: #EEE;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background:#EEE;
}
.navbar .dropdown-menu li a:hover{
	background: #AAA;
}



section{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: 1;
	-webkit-flex-flow: row;
	/*min-height: 100%;*/
}
section > * {
	flex: 1;
}
article {}
.container{
	margin-top:50px;
}
.well, .modal-content{
	background: #FBFBFB;
	border: 0px;
	box-shadow: 5px 5px 10px #666;
	border-radius: 0px;
}
.well h1{
	border-bottom: 2px solid #346A91;
}



/*GENERAL STUFF*/
map{
	display: block;
	height: 300px;
	width: 100%;
}

.calendar{
	
}
	.calendar .fc-header-title h2{
		margin-top: 0;
		white-space: nowrap;
		color: #2A4D6E;
	
	}
	.calendar .fc-border-separate th, .calendar .fc-border-separate td{
		 border: 1px dashed #A6773B; 
		 background: #705634;
		 color: #FFF;
	}
	.calendar .fc-grid .fc-day-number{
		float: right;
		padding: 0 4px;
		color: #FFC;
	}



/*SCHEDULE*/
#upcomming ul{
	padding:0px;
}
#upcomming ul li {
	list-style: none;
	padding: 15px;
	background: #FFEDD6;
	margin: 10px;
	border: 1px dashed #FFF;
	color: #346A91;
	cursor: pointer;
}
#upcomming .driver{
	background: #10663F;
	color: #FFFFFF;
	border: 1px dashed #FFF;
}
#upcomming .passenger{
	background: #FFEDD6;
	color: #113E5E;
	border: 1px dashed #FFF;
}


/*This is for the upload a picture box.*/
div.thumbnail{
	width:100%;
	height:100px;
	text-align:center;
	background: #EEE;
}
.imgBox{
	height:150px;
	overflow:hidden;
}
.fit{
	display: block;
	margin: 0px auto;
	max-width: 100%;
}

/*SIDE BAR*/
aside{
	position: fixed;
	background-color: #FFF;
	color: #2A4D6E;
	z-index: 10;
	right: 0px;
	width: 400px;
	border-left: 4px solid #999;
	box-shadow: -3px 1px 2px #444;
	height: calc(100% - 50px);
	top: 52px;
}
	aside>.sidebar{
		height: 100%;
		overflow: auto;
		padding: 15px;
	}
	aside>.sidebar>div{
		min-height: 100%;
		padding-bottom: 50px;
	}
	aside h1{
		margin: 15px auto;
		display: block;
		padding: 10px;
		border-radius: 5px;
		color: #FFF;
		border: 1px solid #111;
		width: 250px;
		font-family: inherit;
		text-align: center;
		position: relative;
		/*background: url('http://html5up.net/uploads/demos/striped/css/images/bg1.png');*/
		background-color: #333;
		text-transform: capitalize;
	}
	aside#aside_right .minimize{
		position: absolute;
		top: 41px;
		left: -34px;
		border: 3px solid #999;
		/*background: url('http://html5up.net/uploads/demos/striped/css/images/bg1.png');*/
		background-color: #FFF;
		color: #999;
		border-right: 0px;
		box-shadow: -3px 3px 2px #444;
	}
	aside iframe{
		width:100%;
		height:10000px;
	}
.card{
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 15px;
}
	.card h2{
		margin-top: 0px;
		background: rgba(0,0,0,.5);
		color: #FFF;
		padding: 5px;
		text-align: center;
		border-radius: 4px;
	}
pair{
	display: block;
}
key{
	font-weight: bold;
	width: 50%;
	display: inline-block;
}
	key:after{
		content: ": ";
	}
value {
	font-weight: normal;
	display: inline-block;
}
.contact *{
	white-space: nowrap;
	overflow: hidden;
}
.contact h1{
	font-size: 28px;
}
.contact h4{
	font-size: 16px;
	margin: 20px 0px;
}


/*OVERRIDES*/
.modal{
	z-index: 1000000;
}
.modal-lg{
	width:90%;
}
.media-object{
	max-width: 50px;
}


/*RESPONSIVE*/
/*Tablets*/
@media (max-width: 1000px) {
	
}
/*Smart Phones*/
@media (max-width: 768px) {
	#rideForm h1{
		margin-left: 0px;
	}
	aside.show{
		position: fixed;
		display: block;
		left: 0px;
		width: 100%;
		z-index: 100000;
	}
	aside#aside_right .minimize{
		position: fixed;
		top: 15px;
		border: 3px solid;
		background: none;
		color: #A6773B;
		box-shadow: -2px -3px 2px #444;
		left: 15px;
	}
	.media-manager .thumbnail, .media-manager div.thumbnail{
		width: 100%;
	}
	.calendar{
		margin: 5px; 
	}
	.modal-lg{
		width:inherit;
	}
}

@media all and (min-width: 800px) {
	section article    { flex: 1; }
}